* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1C232B;
    --grey: #6C7289;
    --cream: #F2EAE2;
    --white: #FFFFFF;
    --green-500: #3D8168;
    --green-700: #1A4032;
}

h1 {
    font-family: 'Fraunces', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--black);
    font-weight: 700;
}

.btn-font {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    line-height: 110%;
    letter-spacing: 0;
    color: var(--white);
    font-weight: 700;
}

.paragraph {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    line-height: 160%;
    letter-spacing: 0;
    color: var(--grey);
    font-weight: 500;
}

.category-font {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .8rem;
    line-height: 120%;
    letter-spacing: 5px;
    color: var(--grey);
    font-weight: 500;
}

.current-price-font {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--green-500);
    font-weight: 700;
}

.previous-price-font {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    line-height: 120%;
    letter-spacing: 0;
    color: var(--grey);
    font-weight: 500;
}